---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="artilce_header">
    <h1 class="artilce_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="artilce_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

  <form method="POST" action="https://staticman3.herokuapp.com/v3/connect/github/tyomalu/tyomalu.github.io/comments">
    <input name="options[redirect]" type="hidden" value="https://tyomalu.github.io">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <label><input name="fields[name]" type="text">Name</label>
    <label><input name="fields[email]" type="email">E-mail</label>
    <label><textarea name="fields[message]"></textarea>Message</label>
    <button type="submit">Go!</button>
  </form>
  <footer class="article-footer">

  <hr/>

  </footer>

  {% include dq.html %}

</article>
